{% extends "layout/base.html" %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'bmnc_core/css/style.css' %}" />
{% endblock %}

{% block title %} Landing Page {% endblock %}
{% block content %}
<div class='container'>
    <h1>Welcome to BMNC</h1>
    <a href= "#" >Get Started</a>
</div>
{% endblock %}
