navbar{
    position: fixed;
    top: 0;
    overflow: hidden;
}
body{
    margin: 0%;
    padding: 0%;
    background: url(swirl.png);
    background-size: cover;
    background-position: center;
    font: Trajanus;
    background-attachment: fixed;
    
}

.loginbox{
    width: 320px;
    height: 420px;
    background :#fff;
    color: #000;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 50px 30px;
    border-color: #000;
}

.logo{
    border-radius: 50%;
    position: absolute;
    top: -70px;
    left: calc(30% - 50px);
}

h1{
    margin: 0;
    padding: 0 0 30px;
    text-align: center;
    font-size: 12px;

}

.loginbox h1{
    font-size: 20px;
    margin-top: 10%;
}

.loginbox p {
    margin:0;
    padding: 0;
    font-weight: bold; 
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;

}

.loginbox input[type="text"], input[type = "password"]
{   
    border: none;
    border-bottom: 1px solid #000;
    background: transparent;
    outline: none;
    height: 40px;
    color: #000;
    font-size: 16px;
}

.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: red;
    color: #fff;
    font: 18px; 
    border-radius: 20px;
}

.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #E8F3F5;
    color: #000;
    font-weight: bold;
}

.loginbox a{
    text-decoration: none;
    font: 12px;
    line-height: 20px;
    color:#000;
}