{% extends "layout/base.html" %}
{% load static %}

{% block title %}
    Daftar Polling Biasa
{% endblock %}

{% block style %}
    <!-- insert static/css here -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="{% static 'css/stail.css' %}" type="text/css"> </head>
{% endblock %}

{% block staticfiles %}
    <!-- insert static files here -->
{% endblock %}

{% block content %}
  <div class="p-0 bg-light w-75 align-self-center align-items-center mx-auto"> </div>
  <div class="filter-light my-5 py-3 h-75">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center">
            <b>POLLING</b>
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="row">
            <div class="col-md-12">
              <p class="my-2 text-center">Agile atau Scrum ?</p>
            </div>
          </div>
          <ul class="list-group w-100 h-75">
            <li class="list-group-item d-flex justify-content-between align-items-center"> Cras justo odio
              <span class="badge badge-primary badge-pill">14</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center"> Dapibus ac facilisis in
              <span class="badge badge-primary badge-pill">2</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center"> Morbi leo risus
              <span class="badge badge-primary badge-pill">1</span>
            </li>
          </ul>
        </div>
        <div class="col-md-2 px-1">
          <div class="row">
            <div class="col-md-12">
              <p class="my-2">Apakah Saya Ganteng?</p>
            </div>
          </div>
          <ul class="list-group w-100 h-75">
            <li class="list-group-item d-flex justify-content-between align-items-center"> Cras justo odio
              <span class="badge badge-primary badge-pill">14</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center"> Dapibus ac facilisis in
              <span class="badge badge-primary badge-pill">2</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center"> Morbi leo risus
              <span class="badge badge-primary badge-pill">1</span>
            </li>
          </ul>
        </div>
        <div class="col-md-2">
          <div class="row">
            <div class="col-md-12">
              <p class="my-2 text-center">Aku pun melompat ?</p>
            </div>
          </div>
          <ul class="list-group w-100 h-75">
            <li class="list-group-item d-flex justify-content-between align-items-center"> Cras justo odio
              <span class="badge badge-primary badge-pill">14</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center"> Dapibus ac facilisis in
              <span class="badge badge-primary badge-pill">2</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center"> Morbi leo risus
              <span class="badge badge-primary badge-pill">1</span>
            </li>
          </ul>
        </div>
        <div class="col-md-2">
          <div class="row">
            <div class="col-md-12">
              <p class="my-2">Apakah Saya Ganteng?</p>
            </div>
          </div>
          <ul class="list-group w-100 h-75">
            <li class="list-group-item d-flex justify-content-between align-items-center"> Cras justo odio
              <span class="badge badge-primary badge-pill">14</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center"> Dapibus ac facilisis in
              <span class="badge badge-primary badge-pill">2</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center"> Morbi leo risus
              <span class="badge badge-primary badge-pill">1</span>
            </li>
          </ul>
        </div>
        <div class="col-md-2">
          <div class="row">
            <div class="col-md-12">
              <p class="my-2">Apakah Saya Ganteng?</p>
            </div>
          </div>
          <ul class="list-group w-100 h-75">
            <li class="list-group-item d-flex justify-content-between align-items-center"> Cras justo odio
              <span class="badge badge-primary badge-pill">14</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center"> Dapibus ac facilisis in
              <span class="badge badge-primary badge-pill">2</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center"> Morbi leo risus
              <span class="badge badge-primary badge-pill">1</span>
            </li>
          </ul>
        </div>
        <div class="col-md-2">
          <div class="row">
            <div class="col-md-12">
              <p class="my-2">Apakah Saya Ganteng?</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <ul class="list-group w-100 h-75">
                <li class="list-group-item d-flex justify-content-between align-items-center"> Cras justo odio
                  <span class="badge badge-primary badge-pill">14</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center"> Dapibus ac facilisis in
                  <span class="badge badge-primary badge-pill">2</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center"> Morbi leo risus
                  <span class="badge badge-primary badge-pill">1</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
{% endblock %}

{% block javascript %}
    <!-- insert script here -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}


</html>