
{% extends "layout/base.html" %}
{% load static %}

{% block title %}Tambah Polling Biasa{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style_polling.css' %}" />
{% endblock %}

{% block staticfiles %}
    <!-- insert static files here -->
{% endblock %}

{% block content %}
    <section name="form-tambah-polling" id="input-list">
        <h2 class="my-list-title">Tambah Polling</h2>
        <div class="container">
            <div>
                <form id="form" method="POST" action="{% url 'polling:add-polling-berita' %}">
                    {% csrf_token %}
                    {{ polling_berita_form }}
                    <tr><th><label for="id_polling_start">
                        Polling start:
                    </label></th><td>
                    <input type="datetime-local" name="polling_start" class="form-control" required id="id_polling_start" /></td></tr>
                    <tr><th><label for="id_polling_end">
                        Polling end:
                    </label></th><td>
                    <input type="datetime-local" name="polling_end" class="form-control" required id="id_polling_end" /></td></tr>
                    <div align="center" id="add_polling">
                        <input id="submit" type="submit" class="btn btn-lg btn-block btn-info" value="Submit">
                    </div>
                    <br>
                </form>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascript %}
    <!-- insert script here -->
{% endblock %}