{% extends 'layout/base.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'bmnc_core/css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/style.css' %}" />

<style>

    body{
        margin: 0%;
        padding: 0%;
        background: url("{% static 'img/swirl.png' %}");
        background-size: cover;
        background-position: center;
        font: Trajanus;
        background-attachment: fixed;
        
    }
    
    footer {
        height: 100%;
        width: 100%;
        background-color: rgb(15, 15, 15);
        color: white;
        text-align: center;
    }
    
    .container {
        width: 100%;
        padding-right: 250px;
        padding-left: 400px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 100px;
        min-height: 500px;
    }

    .containerR{
         width: 100%;
        padding-right: 250px;
        padding-left: 400px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 50px;
        margin-bottom: 100px;

    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <h1>Welcome</h1>
    <p>
        You can log in here!
    </p>
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
</div>
{% endblock %}