{% extends "layout/base.html" %}

{% block content %}
<div class = 'containerR'>
     <h1>Register</h1>
    <form method='POST'>
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Submit</button>
    </form>
</div>
{% endblock %}