
{% extends "layout/base.html" %}
{% load static %}

{% block title %}Tambah Berita{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style_berita.css' %}" />
{% endblock %}

{% block staticfiles %}
    <!-- insert static files here -->
{% endblock %}

{% block content %}
    <section name="form-tambah-berita" id="input-list">
        <h2 class="my-list-title">Tambah Berita</h2>
        <div class="container">
            <div>
                <form id="form" method="POST" action="{% url 'berita:add-berita' %}">
                    {% csrf_token %}
                    {{ news_form }}
                    <div align="center" id="add_berita">
                        <input id="submit" type="submit" class="btn btn-lg btn-block btn-info" value="Submit">
                    </div>
                    <br>
                </form>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascript %}
    <!-- insert script here -->
{% endblock %}