{% extends "layout/base.html" %}
{% load static %}

{% block title %}
    Daftar Berita
{% endblock %}

{% block style %}
    <!-- insert static/css here -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="{% static 'css/stail.css' %}" type="text/css"> </head>
{% endblock %}

{% block staticfiles %}
    <!-- insert static files here -->
{% endblock %}

{% block content %}
  <body>
  <div class="p-0">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center">
            <b>DAFTAR BERITA</b>
          </h1>
        </div>
      </div>
    </div>
  </div>
  <div class="mx-auto w-75 filter-light">
    <div class="container">
      <div class="row py-1">
        <div class="col-md-4">
          <div class="card mx-auto" style="width: 300px;">
            <img class="card-img-top" alt="Card image cap" src="https://pingendo.com/assets/photos/wireframe/photo-1.jpg" style="height: 200; width:300">
            <div class="card-body">
              <h5 class="card-title">Wow! Orang ini memakan...</h5>
              <p class="card-text">Seorang lelaki paruh baya mencoba memakan nasi goreng, tapi nasinya tidak digoreng..</p>
              <a href="#" class="btn btn-primary">Baca Selengkapya</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mx-auto" style="width: 300px;">
            <img class="card-img-top" alt="Card image cap" src="https://pingendo.com/assets/photos/wireframe/photo-1.jpg" style="height: 200; width:300">
            <div class="card-body">
              <h5 class="card-title">10 Makanan paling biasa aja</h5>
              <p class="card-text">Makanan paling biasa aja ada banyak bro! Tapi 10 makanan ini bisa membuat anda ngiler ngiler loh</p>
              <a href="#" class="btn btn-primary">Baca Selengkapya</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mx-auto" style="width: 300px;">
            <img class="card-img-top" alt="Card image cap" src="https://pingendo.com/assets/photos/wireframe/photo-1.jpg" style="height: 200; width:300">
            <div class="card-body">
              <h5 class="card-title">30 Tahun lagi Indonesia akan..</h5>
              <p class="card-text">30 Tahun lagi Indonesia akan tetap menjadi Indonesia</p>
              <a href="#" class="btn btn-primary">Baca Selengkapya</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</body>
{% endblock %}

{% block javascript %}
    <!-- insert script here -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}


</html>