.logo {
    width: 200px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(35% - 10px);
}

h1 {
    margin: 0;
    padding: 0 0 30px;
    text-align: center;
    font-size: 22px;
}

section {
    min-height: 500px;
}

#input-list form{
width: 100%;
margin: 50px auto;
position: relative;
z-index: 1;
background: white;
border: 0 none;
border-radius: 3px;
box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
padding: 20px 30px;
box-sizing: border-box;
position: relative;
}

#input-list form > h2{
font-size: 1.3em;
text-transform: uppercase;
color: #2C3E50;
margin-bottom: 10px;
}

#add_polling {
margin-top: 1em;
margin-bottom: 1em;
}

.my-list-title{
font-size: 40px;
margin-top: 1em;
margin-bottom: 1em;
color: white;
text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
text-align: center;
}
