{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %} {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- bootstrap csss -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    
    <style>
        body{
            margin: 0%;
            padding: 0%;
            background: url("{% static 'img/swirl.png' %}");
            background-size: cover;
            background-position: center;
            font: Trajanus;
            background-attachment: fixed;
            
        }

        footer {
            padding-top: 10px;
            height: 100%;
            width: 100%;
            background-color: rgb(15, 15, 15);
            color: white;
            text-align: center;
        }
    </style>
    {% block style %}
        <!-- insert static/css here-->
    {% endblock %}
    {% block staticfiles %}
        <!-- Your Static Files Here -->
    {% endblock %}
</head>
<body>
    <header>
        {% include "partials/header.html" %}
    </header>
    <content>
        {% block content %}
            <!-- content goes here -->
        {% endblock %}
    </content>
    <footer>
        {% include "partials/footer.html" %}
    </footer>
</body>
<!-- Jquery n Bootstrap Script -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% block javascript %}
    <!-- Your Script Here -->
{% endblock %}
</html>